.card-container {
    display: flex;
    background-color: #f76f00;
    border-radius: 40px;
    padding: 20px;
    height: 70%;
  }
  
  .image-container {
    width: 50%;
  }
  
  .image-container img {
    width: 100%;
  }
  
  .info-container {
    flex: 1; 
    padding: 10px; 
    display: flex;
    flex-direction: column;
    line-height: 1;
     margin-bottom: 5px;
  }
  
  .info-container h1 {
    margin: 0; 
  }
  
  .info-container h3 {
  margin-bottom: 0px;
}

.fun-fact {
  margin-top: 0px;
}
